{{ $avatar_img := "avatar.png" }}
{{ $avatar_img_alt := "Jeon Hyeon Min" }}
{{ $image := resources.Get $avatar_img }}
<div class="author">
    {{ with $image }}
    {{ $image := $image.Fill "100x100 webp" }}
    <img class="author-avatar" src="{{ $image.RelPermalink }}" alt="{{ $avatar_img_alt }}" width="100"
        height="100" />
    {{ end }}
    <h2 class="author-name">Jeon Hyeon Min</h2>
    <p class="author-bio">"By listening to the opinions of team members, we achieve success together."<br>We feel the joy of growing together through communication.</p>
</div>